@charset "UTF-8";


html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}


.picsam{
	float:left;
}

.container{
	margin: 10px;
	border:10px solid black;

}

.cf{
	clear:both;
}